WMCDuplicateRemover/[Oo]bj/
WMCDuplicateRemover/[Bb]in/
WMCDuplicateRemover.Tests/[Oo]bj/
WMCDuplicateRemover.Tests/[Bb]in/
WMCDuplicateRemoverDriver/[Oo]bj/
WMCDuplicateRemoverDriver/[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
